@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --color-primary: #02ADB5;
  --color-primary-darker: #10747a;
  --color-primary-transparent: #f0f1f1;
  --color-primary-lighter: rgba(27, 79, 70, 0.505);
  --color-secondary: #219EBC;
  --color-secondary-lighter:rgba(33, 157, 188, 0.52);
  --color-dark: #393E46;
  --color-gray: #6e6f71;
  --color-gray-light: #6e6f7191;
  --color-primary-transparent: #e3f3f2;
  --color-light: #FFFEFC;
  --dark: #001D23;

  --color-light-active: #465b5a;
  --color-success: rgb(15, 98, 15);
  --color-error: rgb(209, 47, 47);

  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 24px;
  --font-size-header-one: 58px;
  --font-size-header-two: 24px;
  --font-size-header-five: 15px;
  --font-size-header-four: 20px;

  --section-padding: 100px 195px 0px;
  --section-padding-small: 10px 24px 0px;
  --section-container-padding: 50px;
  --section-wrapper-margin-top: 100px;
  --section-wrapper-margin-bottom: 100px;
  --page-wrapper-padding: 32px 48px 18px 48px;

}

[data-theme='light'] {
  --black: #f2f2f2;
  --color-primary: #1d1d1d;
}

@media only screen and (max-width: 768px) {
  :root {
    --section-container-padding: 20px;
    --font-size-header-one: 48px;
    --font-size-header-two: 20px;
    --font-size-header-five: 14px;
    --font-size-header-four: 18px;

    --font-size-xs: 6px;
    --font-size-sm: 10px;
    --font-size-md: 12px;
    --font-size-lg: 14px;
    --font-size-xl: 16px;
    --font-size-xxl: 22px;

    --section-wrapper-margin-top: 50px;
  --section-wrapper-margin-bottom: 50px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--color-dark);
  box-sizing: border-box;
  font-size: var(--font-size-md);
  padding: 0;
    margin: 0;
}

html, body{
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-size-header-one);
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: var(--color-dark)
}
h2 {
  font-size: var(--font-size-header-two);
}

h4 {
  font-size: var(--font-size-header-four);
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  letter-spacing: 0.2px;
  color: var(--color-dark);
}
h5 {
  color: var(--color-dark);
  font-size: var(--font-size-header-five);
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  letter-spacing: 0.1px;
}
h6 {
  color: var(--color-dark);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.2px;
}
p {
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--color-dark);
}
li {
  line-height: 1.6;
  letter-spacing: -0.02em;
  font-size: var(--font-size-md);
  font-weight: 500;
}

a {
  text-decoration: none;
  line-height: 2;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  cursor: pointer;
}

input {
  display: block;
  min-width: 60px;
  height: 38px;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  transition: color 0.2s ease;
  color: var(--color-dark);
}

input:focus {
  outline: none;
  border-color: var(--color-secondary);
  transition: border-color 0.2s ease;
}

label {
  display: block;
  margin-bottom: 26px;
  color: var(--color-dark);
  line-height: 1.143em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;

  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
}

b {
  color: var(--color-dark);
}

footer {
  margin-top: auto;
} 

.event-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  list-style: square;
  margin-left: 20px;
}

.btn-with-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.about-home{
  border-radius: 6px !important;
  background-color: #F8F8F9 !important;
  padding: 1.5rem !important;
  border-width: 5px !important;
  border-color: #fff !important;
  border-bottom: 5px solid  var(--color-primary) !important;
}

.display-4 {
  font-size:calc(1.475rem + 2.7vw);
  font-weight:700;line-height:1.2
}

@media (min-width: 1200px){
  .display-4{
    font-size:3.5rem
  }
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: #FFFFFF;
}

.btn.btn-primary:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: transparent;
}
.btn.btn-outline-primary{
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn.btn-outline-primary:hover{
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #f0f1f1;
}

.btn.btn-primary{
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}


.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}




/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark);
  border: 12px solid var(--dark);
  border-radius: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url(../public/assets/ycem-kids.jpg) center center no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
  color: #999999;
}

